h1 {
  font-size: 42px;
  line-height: 1.5;
}

h3 {
  font-size: 28px;
  line-height: 1.5;
}

.use-rules-description {
  font-size: 18px;
  line-height: 1.2;
}

.use-rules-items {
  font-size: 15px;
  line-height: 1.1;
}
